{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<style>
  model-viewer {
      height: 40vw;
      width: 60vw;;
      right: 20%;
      top: -10%;
      z-index: 2;
      display: flex;
      position:absolute;
  }

</style>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-model">
                <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
                <model-viewer 
                src="https://raw.githubusercontent.com/knguyenphu/tennis_stats_web/main/website/static/assets/tennis_court.gltf" 
                camera-controls
                autoplay
                disable-zoom
                disable-pan
                disable-drag
                alt="tennis-court">
                </model-viewer>
            </div>
            <script>
              const modelViewer = document.querySelector('model-viewer');
              modelViewer.play({ animationIndex: 0 });
            </script>
            <div class="glass-card" style="margin-top: 100px;">
                <form method="POST">
                    <h3 class="text-center">Login</h3>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="email" class="custom">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password1">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter password" />
                        <a class="no-account-button" href="/sign-up">Don't have an account? Sign Up</a>
                    </div>
                    <br />
                    <!-- Submit button (centered) -->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn-global-outline">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
